doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li Jade file

      - var condition = true
        if condition
          p True statement

    block content
